<h1><%= @list.name %></h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <p class="strong"><%= Movie.find(bookmark.movie_id).title %></p>
    <p><%= bookmark.comment %></p>
    </li>
  <% end %>
</ul>
